body {
    text-align: center;
    background-color: black;
    color: white;
}

table {
    margin: auto;
    padding: 20px;
}

.cell {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: #ccc;
    border: 5px solid;
    border-color: #eee #999 #999 #eee;
    height: 38px;
    width: 38px;
    border-spacing: 0px;
    box-sizing: border-box
}